@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "MessageDetailsSendBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Mesaj Detayları</h1>
<br />
<br />
<form class="form-group">
    @Html.HiddenFor(a => a.WriterMessageID, new { @class = "form-control" })
    <br />
    <br />
    <label>Mesaj Başlığı</label>
    <br />
    @Html.TextBoxFor(a => a.Subject, new { @class = "form-control" })
    <br />
    <br />
    <label>Alıcı</label>
    @Html.TextBoxFor(a => a.ReceiverName, new { @class = "form-control" })
    <br />
    <br />
    <label>Alıcı Mail</label>
    @Html.TextBoxFor(a => a.Receiver, new { @class = "form-control" })
    <br />
    <br />
    <label>Mesaj İçeriği</label>
    <br />
    @Html.TextAreaFor(a => a.MessageContent, new { @class = "form-control", rows = "10" })
</form>
