@model EntityLayer.Concrete.Message

@{
    ViewData["Title"] = "ShowContactMessage";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    string date_of_contact = DateTime.Parse(Model.Date.ToString()).ToString("dd/MM/yyyy");
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenek Düzenle</h4>
          
            <form class="forms-sample">
                <div class="form-group">
                    @Html.HiddenFor(s => s.MessageID)
                    <label class="form-control-label">Gönderen</label>
                    @Html.TextBoxFor(s => s.Name, new { @class = "form-control", placeholder = "Gönderen" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Göndren Mail</label>
                    @Html.TextBoxFor(s => s.Mail, new { @class = "form-control", placeholder = "Gönderen mail" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Tarih</label>
                    @Html.TextBoxFor(modelItem => date_of_contact,new {@class="form-control" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">İçerik</label>
                    @Html.TextAreaFor(s => s.Content, new { @class = "form-control", placeholder = "İçerik",rows="10" })
                </div>
                <br />
                <a href="/Contact/Index/" class="btn btn-outline-success btn-icon-text">
                    <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Geri Dön
                </a>
            </form>
           

        </div>
    </div>
</div>

