@model EntityLayer.Concrete.About

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda Düzenle</h4>
            @using (Html.BeginForm("Index", "About", FormMethod.Post))
            {
        <form class="forms-sample">
            <div class="form-group">
                @Html.HiddenFor(h => h.AboutID)
                <label class="form-control-label">Başlık</label>
                @Html.TextBoxFor(a => a.Title, new { @class = "form-control", required = "required", placeholder = "Başlık" })
                @Html.ValidationMessageFor(f => f.Title)
            </div>
            <div class="form-group">
                <label class="form-control-label">Yaş</label>
                @Html.TextBoxFor(f => f.Age, new { @class = "form-control", required = "required", placeholder = "Yaş" })
                @Html.ValidationMessageFor(f => f.Age)
            </div>
            <div class="form-group">
                <label class="form-control-label">Mail</label>
                @Html.TextBoxFor(f => f.Mail, new { @class = "form-control", required = "required", placeholder = "Mail" })
                @Html.ValidationMessageFor(f => f.Mail)
            </div>
            <div class="form-group">
                <label class="form-control-label">Telefon</label>
                @Html.TextBoxFor(f => f.Phone, new { @class = "form-control", required = "required", placeholder = "Telefon" })
                @Html.ValidationMessageFor(f => f.Phone)
            </div>
            <div class="form-group">
                <label class="form-control-label">Adres</label>
                @Html.TextBoxFor(f => f.Address, new { @class = "form-control", required = "required", placeholder = "Adres" })
                @Html.ValidationMessageFor(f => f.Address)
            </div>
            <div class="form-group">
                <label class="form-control-label">Fotoğraf</label>
                @Html.TextBoxFor(f => f.ImageUrl, new { @class = "form-control", required = "required", placeholder = "Fotoğraf" })
                @Html.ValidationMessageFor(f => f.ImageUrl)
            </div>
            <div class="form-group">
                <label class="form-control-label">Açıklama</label>
                @Html.TextAreaFor(f => f.Description, new { @class = "form-control", required = "required", placeholder = "Açıklama", rows = "5" })
                @Html.ValidationMessageFor(f => f.Description)
            </div>
            <br />
            <button type="submit" class="btn btn-outline-success btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i> Hakkımda Düzenle
            </button>
            <a href="/Default/Index/" class="btn btn-dark btn-icon-text" style="float:right">
                <i class="mdi mdi-reload btn-icon-prepend"></i> İptal Et
            </a>
        </form>
            }

        </div>
    </div>
</div>



@*<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Hakkımda Düzenle </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "About", FormMethod.Post))
            {
                <form>
                    <h6 class="heading-small text-muted mb-4">Hakkımda Düzenle</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i>&nbsp; Hakkımda Düzenle</button>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                </form>
            }

        </div>
    </div>
</div>*@

