@using EntityLayer.Concrete
@model List<Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    string bg_class = "";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yetenekler</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Yetenek </th>
                            <th> Başlık </th>
                            <th> Oran </th>
                            <th> Sil </th>
                            <th> Düzenle </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr>

                            @if (item.SkillID % 2 == 0)
                            {
                                bg_class = "bg-warning";
                            }
                            @if (item.SkillID % 3 == 0)
                            {
                                bg_class = "bg-primary";
                            }
                            @if (item.SkillID % 4 == 0)
                            {
                                bg_class = "bg-danger";
                            }
                            @if (item.SkillID % 5 == 0)
                            {
                                bg_class = "bg-success";
                            }
                            @if (item.SkillID % 7 == 0 || item.SkillID % 9 == 0)
                            {
                                bg_class = "bg-info";
                            }


                            <td class="py-1">
                                <img src="@item.Language" alt="Programlama Dili" />
                            </td>
                            <td> @item.Title </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar @bg_class" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                            <td>
                                <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-outline-danger btn-icon-text">
                                    <i class="mdi mdi-alert btn-icon-prepend"></i> Sil
                                </a>
                            </td>

                            <td>
                                <a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-outline-success btn-icon-text">
                                    <i class="mdi mdi-upload btn-icon-prepend"></i> Düzenle
                                </a>
                            </td>
                        </tr>
                        }


                    </tbody>
                </table>

                <br />
                <a href="/Skill/AddSkill/" class="btn btn-outline-primary btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-prepend"></i> Yeni Yetenek Ekle
                </a>

            </div>
        </div>
    </div>
</div>
