@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "ShowReceiverMessage";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    string date_of_contact = DateTime.Parse(Model.Date.ToString()).ToString("dd/MM/yyyy");
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Mesaj</h4>

            <form class="forms-sample">
                <div class="form-group">
                    @Html.HiddenFor(s => s.WriterMessageID)
                    <label class="form-control-label">Başlık</label>
                    @Html.TextBoxFor(s => s.Subject, new { @class = "form-control", placeholder = "Başlık" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Göndren</label>
                    @Html.TextBoxFor(s => s.SenderName, new { @class = "form-control", placeholder = "Gönderen" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Göndren Mail</label>
                    @Html.TextBoxFor(s => s.Sender, new { @class = "form-control", placeholder = "Gönderen mail" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Tarih</label>
                    @Html.TextBoxFor(modelItem => date_of_contact, new { @class = "form-control",placeholder="Tarih" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">İçerik</label>
                    @Html.TextAreaFor(s => s.MessageContent, new { @class = "form-control", placeholder = "İçerik", rows = "10" })
                </div>
                <br />
                <a href="/AdminMessage/ReceiverMessageList/" class="btn btn-outline-success btn-icon-text">
                    <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Geri Dön
                </a>
            </form>


        </div>
    </div>
</div>

