@model EntityLayer.Concrete.Feature

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Düzenle</h4>
            @using (Html.BeginForm("Index", "Feature", FormMethod.Post))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(f => f.FeatureID)
                        <label class="form-control-label">Başlık</label>
                        @Html.TextBoxFor(f => f.Header, new { @class = "form-control", required = "required", placeholder = "Başlık" })
                        @Html.ValidationMessageFor(f => f.Header)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">İsim</label>
                        @Html.TextBoxFor(f => f.Name, new { @class = "form-control", required = "required", placeholder = "İsim" })
                        @Html.ValidationMessageFor(f => f.Name)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Meslek</label>
                        @Html.TextBoxFor(f => f.Title, new { @class = "form-control", required = "required", placeholder = "Meslek" })
                        @Html.ValidationMessageFor(f => f.Title)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-success btn-icon-text">
                        <i class="mdi mdi-upload btn-icon-prepend"></i> Profili Düzenle
                    </button>
                    <a href="/Default/Index/" class="btn btn-dark btn-icon-text" style="float:right">
                        <i class="mdi mdi-reload btn-icon-prepend"></i> İptal Et
                    </a>
                </form>
            }

        </div>
    </div>
</div>