@using EntityLayer.Concrete
@model List<Announcement>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
    string status_class = "badge-success";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Duyurular</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.status.ToLower() == "yeni")
                            {
                                status_class = "badge-info";
                            }
                            else if(item.status.ToLower() == "konferans")
                            {
                                status_class = "badge-warning";
                            }
                            else if (item.status.ToLower() == "proje")
                            {
                                status_class = "badge-danger";
                            }
                            else
                            {
                                status_class = "badge-success";
                            }
                            <tr>
                                <th>@item.ID</th>
                                <td>@item.Title</td>
                                <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
                                <td><label class="px-3 font-weight-bold badge @status_class">@item.status.ToUpper()</label></td>
                                <td><a class="btn btn-outline-primary" href="/Writer/Default/AnnouncementDetails/@item.ID">Detaylar</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

