@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proje Düzenle</h4>
            @using (Html.BeginForm("UpdatePortfolio", "Portfolio", FormMethod.Post))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(p => p.PortfolioID)
                        <label class="form-control-label">Proje Adı</label>
                        @Html.TextBoxFor(p => p.Name, new { @class = "form-control", required = "required", placeholder = "Proje adı" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Fotoğrafı</label>
                        @Html.TextBoxFor(p => p.ImageUrl, new { @class = "form-control", required = "required", placeholder = "Proje fotoğrafı" })
                        @Html.ValidationMessageFor(x => x.ImageUrl)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Slider Fotoğrafı</label>
                        @Html.TextBoxFor(p => p.ImageUrl2, new { @class = "form-control", required = "required", placeholder = "Projes slider fotoğrafı" })
                        @Html.ValidationMessageFor(x => x.ImageUrl2)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Linki</label>
                        @Html.TextBoxFor(p => p.ProjectUrl, new { @class = "form-control", required = "required", placeholder = "Proje linki" })
                        @Html.ValidationMessageFor(x => x.ProjectUrl)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Projede Kullanılan Dil (resim url)</label>
                        @Html.TextBoxFor(p => p.Platform, new { @class = "form-control", required = "required", placeholder = "Proje dili" })
                        @Html.ValidationMessageFor(x => x.Platform)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Fiyatı</label>
                        @Html.TextBoxFor(p => p.Price, new { @class = "form-control", required = "required", placeholder = "Proje fiyatı" })
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Durumu</label><br />
                        @Html.RadioButtonFor(c => c.Status, true)
                        @Html.Label("Bitti")
                        <br />
                        @Html.RadioButtonFor(c => c.Status, false)
                        @Html.Label("Devam Ediyor")<br />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Proje Tamamlanma Oranı</label>
                        @Html.TextBoxFor(p => p.Value, new { @class = "form-control", required = "required", placeholder = "Proje tamamlanma oranı" })
                        @Html.ValidationMessageFor(x => x.Value)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-success btn-icon-text">
                        <i class="mdi mdi-upload btn-icon-prepend"></i> Projeyi Düzenle
                    </button>
                    <a href="/Portfolio/Index/" class="btn btn-dark btn-icon-text" style="float:right">
                        <i class="mdi mdi-reload btn-icon-prepend"></i> İptal Et
                    </a>
                </form>
            }

        </div>
    </div>
</div>


@*<div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("UpdatePortfolio", "Portfolio", FormMethod.Post))
                {
                    <form>
                        <h6 class="heading-small text-muted mb-4">Proje Düzenle</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-12">

                                    <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i>&nbsp; Proje Düzenle</button>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                    </form>
                }

            </div>
        </div>
    </div>*@

