@using EntityLayer.Concrete
@model List<Portfolio>


@{
    string project_status = "Gelişmede";
    string class_text_status = "text-warning";
}


<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Projeler</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Proje Platformu </th>
                                <th> Proje İsmi </th>
                                <th> Proje Fiyatı </th>
                                <th> Proje Durumu </th>
                                <th> Tamamlanma Oranı </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Status == true)
                                {
                                    project_status = "Tamamlandı";
                                    class_text_status = "text-success";
                                }
                                else if (int.Parse(item.Value.ToString()) > 80 && int.Parse(item.Value.ToString()) < 100)
                                {
                                    project_status = "Yakın";
                                    class_text_status = "text-primary";
                                }
                                else
                                {
                                    project_status = "Gelişmede";
                                    class_text_status = "text-warning";
                                }
                                <tr>
                                    <td>
                                        @item.PortfolioID
                                    </td>
                                    <td>
                                        <img src="@item.Platform" alt="Proje" />
                                    </td>
                                    <td> @item.Name </td>
                                    <td> @item.Price ₺ </td>
                                    <td class="@class_text_status"> @project_status </td>
                                    <td class="@class_text_status"> %@item.Value </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>