@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>Mesaj Detayları</h1>
<br />
<br />
<form class="form-group">
    @Html.HiddenFor(a => a.WriterMessageID, new { @class = "form-control" })
    <br />
    <br />
    <label>Mesaj Başlığı</label>
    <br />
    @Html.TextBoxFor(a => a.Subject, new { @class = "form-control" })
    <br />
    <br />
    <label>Gönderen</label>
    @Html.TextBoxFor(a => a.SenderName, new { @class = "form-control" })
    <br />
    <br />
    <label>Gönderen Mail</label>
    @Html.TextBoxFor(a => a.Sender, new { @class = "form-control" })
    <br />
    <br />
    <label>Mesaj İçeriği</label>
    <br />
    @Html.TextAreaFor(a => a.MessageContent, new { @class = "form-control", rows = "10" })
</form>

