@model EntityLayer.Concrete.Contact

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İletişim Bilgileri Düzenle</h4>
            @using (Html.BeginForm("UpdateContact", "SubContact", FormMethod.Post))
            {
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.HiddenFor(s => s.ContactID)
                        <label class="form-control-label">Başlık</label>
                        @Html.TextBoxFor(s => s.Title, new { @class = "form-control", required = "required", placeholder = "Başlık" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Mail</label>
                        @Html.TextBoxFor(s => s.Mail, new { @class = "form-control", required = "required", placeholder = "Mail" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Telefon</label>
                        @Html.TextBoxFor(s => s.Phone, new { @class = "form-control", required = "required", placeholder = "Telefon" })
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Açıklama</label>
                        @Html.TextAreaFor(s => s.Description, new { @class = "form-control", required = "required", placeholder = "Açıklama", rows="10" })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline-success btn-icon-text">
                        <i class="mdi mdi-upload btn-icon-prepend"></i> İletişim Bilgileri Düzenle
                    </button>
                    <a href="/Dashboard/Index/" class="btn btn-dark btn-icon-text">
                        <i class="mdi mdi-reload btn-icon-prepend"></i> İptal Et
                    </a>
                </form>
            }

        </div>
    </div>
</div>

